.ui_body_success{
  border:1px solid #24AF11;
  color:#333; text-shadow:0 1px 0 #fff;
  background:#89F07C;
  background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#89F07C));
  background-image:-webkit-linear-gradient(top,#fff,#89F07C);
  background-image:-moz-linear-gradient(top,#fff,#89F07C);
  background-image:-ms-linear-gradient(top,#fff,#89F07C);
  background-image:-o-linear-gradient(top,#fff,#89F07C);
  background-image:linear-gradient(top,#fff,#89F07C);
}


.ui_body_error{
  border:1px solid #F7503A;
  color:#333; text-shadow:0 1px 0 #fff;
  background:#FBB99E;
  background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#FBB99E));
  background-image:-webkit-linear-gradient(top,#fff,#FBB99E);
  background-image:-moz-linear-gradient(top,#fff,#FBB99E);
  background-image:-ms-linear-gradient(top,#fff,#FBB99E);
  background-image:-o-linear-gradient(top,#fff,#FBB99E);
  background-image:linear-gradient(top,#fff,#FBB99E);
}

.commonMessage { display: table!important; margin: 0 auto; left:0; font-size: 0.6em; padding: 0 10px; position: relative; }

#loginButtonDiv { text-align: center; }